site_name: Source

site_description: Материалы для изучения программирования, подготовки к собеседованиям
site_author: K
site_url: https://kqkqkqkqkq.github.io/source

repo_name: kqkqkqkqkq/source
repo_url: https://github.com/kqkqkqkqkq/source
edit_uri: ""

copyright: Copyright &copy; 2025-2026 K

theme:
  name: material
  language: ru
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: material/code-tags
  features:
   - navigation.expand

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kqkqkqkqkq/source
      name: GitHub

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - meta
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true 
  - toc:
      permalink: true

nav:
  - Главная: index.md
  - Введение: intro.md
  - Алгоритмы: algorithms.md
  - Паттерны: architecture.md
  - Курсы: courses.md
  - Подготовка к собеседованиям: interviews.md
  - Стажировки: internship.md
  - UI/UX Дизайн: design.md
  - SEO: seo.md
  - Технологии: technologies.md
  - Безопасность: safety.md
  - Полезные нейросети: ai.md
  - Полезные книги: books.md
  - Android. T-Bank: android.tbank.md


plugins:
  - search:
      lang:
        - en
        - ru
